
@media screen and (-webkit-min-device-pixel-ratio:0) /*google chrome*/
{
  .green_arrow_chrome{
  margin-top: -49px;
  z-index:2;
  }
  .founder_chrome{
  width: 34%;
  border: 2px solid #62C34E;
  margin-left: 33%;
  margin-top: 3%;
  border-radius: 6px;
  height: 17%;

  }
}
.tabs{
  width: none !important;
}
@-moz-document url-prefix() {/*firefox*/
  .green_arrow_moz{
  margin-top: -59px;
  z-index:2;
  }
  .founder_moz{
  width: 34%;
  border: 2px solid #62C34E;
  margin-left: 33%;
  margin-top: 3%;
  border-radius: 6px;
  height: 22%;

  }
}

.pushpam_bg{
    background-color: #62C34E !important;
}

.sub_buttom{
  border: 3px solid #fff;
  border-radius:4px;
  width:96px;
  padding-left:19px;
  margin-bottom:27px;
}
.pushpam_margin_top{
  margin-top:36px;
}
 #pushpam_bg_nav2 {
  background-color: #fff !important;
}

.active a{
color: #62C34E !important;
background-color: #fff !important;
}

.pushpam_text_green{
  color: #62C34E !important;

}
.pushpam_text_white{
  color: #fff !important;

}
.user_border{
    border: 1px solid #e0e0e0;
}

.pushpam_width{
  width:100%;
  padding: 1% 0% 2% 18%;
}

.pushpam_team_width{
  width:78%;
  margin-left:17%;

}
.social_site_width{
  width:102%;
  margin-left:-1%;
  padding-top:11px;
  padding-bottom: 27px;
  margin-top:auto;
  border-bottom: 2px solid #B0B0B0;

}
.team_font_size{
  font-size: 23px;
  word-wrap: break-word;
  margin-left: 79px !important;
}

.happyuser{
  margin-left:32px;
  margin-top:-24px;
}
footer{
  padding-top: 20px !important;
  background-color:#fff !important;

}
.social{
      margin: 20px auto auto;
}
.fa-facebook ,.fa-twitter, .fa-linkedin, .fa-youtube {
  color:grey;
}

.fa-envelope ,.fa-phone, .fa-map-marker, .fa-lightbulb-o, .fa-building-o, .fa-user-md{
  color:#62C34E;

}
.contact{
  padding-top:35px;
  margin-top:48px;
}
.email_contact{
  display: inline-flex;
  padding: 4px 0px 0px 11px;
  margin-left:26px;
  margin-top: -18px;

}
.phone{
  margin-top: 10px;
}
.pushpam-form{
  background-color: #62C34E !important;
}
#first_name, #last_name,#email, #company_name, #textarea1{
  background-color: #fff;
}
.para1{
   text-align: center ;
   margin: 22px auto;
   color:#797C80;
   word-wrap: break-word;
}
.para2{
   text-align: left ;
   margin: 22px auto;
   color:#797C80;
   word-wrap: break-word;
}


.image1{
  margin-left: 36px !important;
}
.founder{
width: 34%;
border: 2px solid #62C34E;
margin-left: 33%;
margin-top: 3%;
border-radius: 6px;
height: 22%;

}

.founder_sub{
  margin-left:29px;
  margin-top:13px;
}

/*@media (min-width: 768px)
redesign.css:1
.cm-timeline__start {
    width: 345px;
    margin-bottom: 55px;
}*/

section{
  padding-top: 8px;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #B0B0B0;

}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}


.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #fff;
  border-radius: 4px;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #fff transparent transparent;
}
.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #fff;
}
.happy_team{
  margin: 62px auto;
}
.media_pushpam .tab a{
  color: #797C80 !important;

}
.media_pushpam .tab a.active{
  color: #62C34E !important;

}

.media_pushpam .indicator{
  background-color: #62C34E !important;

}
