@-moz-document url-prefix() {/*firefox*/
  .green_arrow_moz{
  margin-top: -50px;
  z-index:2;
  }
  .founder_moz{
  width: 34%;
  border: 2px solid #62C34E;
  margin-left: 33%;
  margin-top: 3%;
  border-radius: 6px;
  height: 12%;

  }
  .team_font_size{
    font-size: 18px;
    word-wrap: break-word;
    margin-left: 109px !important;
    text-align: left;
    width: 88%!important;
  }
  .center-floater{
    width: 84%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .center-floater-item{
    padding: 2px;
  }
}
