@media only screen and (width: 1920px) {
  .ul_sub_menu {
      margin-left: -11%;
    }

  #pushpam_bg_nav2 {
      height: 10%;
  }
  #pushpam_bg_nav2 ul {
    line-height: 625%;
  }
  .vision {
    margin-left: 147px;
}
.map {
    margin-left: 15%;
  }
  .cntl-bar {
  top: 139px !important;

  }
  .detail_time_odd {
  position: relative !important;
  bottom: 38px !important;
  width: 400px !important;
  padding: 15px !important;
  background: #fff !important;
  border-radius: 4px !important;
  margin-left: 52% !important;
  }
  .timeline_li div::before {
  left: 48px !important;
  border-width: 8px 16px 8px 0 !important;
  border-color: transparent #fff transparent transparent;
  }
  .detail_time_even {
  position: relative !important;
  bottom: 28px !important;
  width: 400px !important;
  padding: 15px !important;
  background: #fff !important;
  border-radius: 4px !important;
  margin-left: 27% !important;
  }
  .timeline_li_after div::after {
  left: -23% !important;
  border-width: 8px 0 8px 16px !important;
  border-color: transparent transparent transparent #fff;
  }
  .timeline_li_after div::after {
  content: '';
  position: absolute;
  bottom: 4px !important;
  width: 0;
  height: 0;
  border-style: solid;
  }
  .founder_sub{
    margin-top: 20px !important;
  }
  /*.para1_aboutus {
    margin-left: 360px;
    width: 67%;
}*/
