
.cntl-bar-fill {
    background-color: #62C34E!important;
    top: 37px !important;
    /*height: 8% !important;*/

  }
  .cntl-icon {
    border:none !important;
    background: #62C34E !important;
    line-height: 52px !important;
    top: -38px !important;
    font-size: 13px !important;
  }
  .down {
  transform: rotate(45deg)!important;
  -webkit-transform: rotate(45deg) !important;
}
i {
border: solid white !important;
border-width: 0 4px 4px 0 !important;
display: inline-block !important;
padding: 9px !important;
margin-top: 11px;


}
.founder_chrome{
width: 34%;
border: 2px solid #62C34E;
margin-left: 33%;
margin-top: 0%;
border-radius: 6px;
height: 16%;
}
.founder_sub{
margin-left:29px;
margin-top:2.5%;
}
.time_text{
margin-left: -17%;
}
.green_arrow_chrome{
margin-top: -11%;
z-index: 2;
}
.overlap_img{
margin-left: -77%;
}

img.responsive-img, video.responsive-video {
  max-width: 100%;
  height: auto;
}
.circle {
  border-radius: 50%;
}
/*.cntl-bar-fill {
top: 37px;
}*/
.cntl-bar {
top: 139px !important;

}
.UpperTitle
{
text-align: center;
padding: 40px 0;
background-color: #CEDEF4;
font-weight:bold;

border-radius: 10px;
position: rela1tive;

}
.UpperTitle img {
position: absolute;
left: 16px;
top: 2px;
width: 43px;
padding: 6px 0px 0px 12px;
}
.timeline_text {
    padding: 20px 0px 0px 47px;
    font-size: 14px;
}
/*.timeline ul li::after {
content: '';
position: absolute;
left: 50%;
bottom: 0;
transform: translateX(-50%);
width: 30px;
height: 30px;
border-radius: 50%;
background: inherit;
}*/

.detail_time_odd {
position: relative;
bottom: 38px;
width: 400px;
padding: 15px;
background: #fff;
border-radius: 4px;
margin-left: 52%;
}
.detail_time_even {
position: relative;
bottom: 28px;
width: 400px;
padding: 15px;
background: #fff;
border-radius: 4px;
margin-left: 27%;
}

.timeline_li div::before {
content: '';
position: absolute;
bottom: 7px;
width: 0;
height: 0;
border-style: solid;
}
.timeline_li_after div::after {
content: '';
position: absolute;
bottom: 4px;
width: 0;
height: 0;
border-style: solid;
}



.timeline_li div::before {
left: 48px;
border-width: 8px 16px 8px 0;
border-color: transparent #fff transparent transparent;
}
.timeline_li_after div::after {
left: -23%;
border-width: 8px 0 8px 16px;
border-color: transparent transparent transparent #fff;
}
.timeline ul li:nth-child(even) div {
left: -439px;
}

.timeline ul li:nth-child(even) div::before {
right: -15px;
border-width: 8px 0 8px 16px;
border-color: transparent transparent transparent #fff;
}
